#one {
    background: white;
    width: 100%;
    height: 100px;
    display: flex;
}
#two {
    background: #54c455;
    width: 50%;
    height: 1000px;
}
span {
    position: absolute;
    right: 90px;
}
.ham {
    top: 10px;
    position: absolute;
    background: white;
    width: 80px;
    height: 90px;
    right: 8px;
}
#three {
    background: gray;
    width: 50%;
    height: 1000px;
}

.con2 {
    display: flex;
}

#myLinks {
    display: none;
}
a.icon {
    background: white;
    display: block;
    position: absolute;
    height: 90px;
    width: 80px;
    right: 9px;
}
a:hover {
    background-color: #ddd;
    color: black;
}

.active {
    background-color: #04AA6d;
    color: white;
}
img {
    width: 100px;
    height: auto;
}
h1 {
    text-transform: uppercase;
    font-size: 100px;
    margin: 0;
}
body {
    margin: 0;
}