.content,
.replies {
  padding: 0.5rem;
  display: flex;
  gap: 1rem;
}

.data {
  padding: 0 0.2rem;
}

.name {
  font-weight: bold;
  color: #5f5f5f;
  font-size: 0.9rem;
}

.comment {
  font-size: 1.1rem;
  font-weight: normal;
}

.comment span a {
  color: #6482f5;
  font-weight: bold;
}

.buttons {
  margin: 1rem 0;
  display: flex;
  gap: 3rem;
}

.buttons div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
}

.liketext {
  margin-top: 3px;
}

.buttons div:hover,
.show_reply:hover {
  cursor: pointer;
}

.reply_hidden {
  display: none;
}

.show_reply {
  width: fit-content;

  color: #6482f5;
  font-weight: bold;
}

.remove {
  background: none;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  color: #6482f5;
  font-weight: bold;
  border-color: #6482f5;
  margin: 1rem;

}

.remove:hover {
  cursor: pointer;
}
