:root {
    --blue: #255a82;
    --red: #E72450;
    --gray: #F7F7F2;
    --black: #050401;
    --orange: #b66d0d;
}

.text-blue {
    color: var(--blue);
}
.bg-blue {
    background-color: var(--blue);
}

.text-red {
    color: var(--red);
}
.bg-red {
    background-color: var(--red);
}

.text-gray {
    color: var(--gray);
}
.bg-gray {
    background-color: var(--gray);
}

.text-orange {
    color: var(--orange);
}
.bg-orange {
    background-color: var(--orange);
}


.text-black {
    color: var(--black);
}
.bg-black {
    background-color: var(--black);
}
